{
  // This only transpiles code if needed, depending on the current nodejs version
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
